.container-fluid{
    max-width: 1750px;
    margin: 0 auto;
}
.bg-white{
    background-color: #fff;
}
.d-none{
    display: none !important;
}
.d-block{
    display: block;
}
.w-100{
    width: 100%;
}
.box-shadow-none{
    box-shadow: none !important;
}
.dark .dark-none{
    display: none;
}
.dark .dark-show{
    display: block;
}
.flex-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-i{
    display: flex;
    align-items: center;
}
.r-50{
    border-radius: 50%;
}

/********************* Container Start **********************/
.container {
    max-width: 1370px !important;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width:1599px) {
    .container{
        max-width: 1360px !important;
    }
}
@media (max-width:1399px) {
    .container{
        max-width: 1160px !important;
    }
}
@media (max-width:1199px) {
    .container{
        max-width: 980px !important;
    }
}
@media (max-width:1023px) {
    .container{
        max-width: 748px !important;
    }
}
@media (max-width:767px) {
    .container{
        width: 100%;
        max-width: 520px !important;
    }
}
@media (max-width:539px) {
    .container{
        width: 100%;
        max-width: 346px !important;
    }
}
/********************* Container End **********************/
/********************* flex Start **********************/
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: flex-end;
}
.items-start{
    align-items: flex-start;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content:center;
}
.justify-end{
    justify-content: flex-end;
}
.d-col{
    flex-direction: column;
}
.d-col-rev{
    flex-direction: column-reverse;
}
.d-row-rev{
    flex-direction: row-reverse;
}
.wrap{
    flex-wrap: wrap;
}
.no-wrap{
    flex-wrap: nowrap;
}
.f-i-center{
    display: flex;
    align-items: center;
}
.f-i-end{
    display: flex;
    align-items: flex-end;
}
.f-i-baseline{
    display: flex;
    align-items: baseline;
}
.f-i-stretch{
    display: flex;
    align-items: stretch;
}
.f-j-center{
    display: flex;
    justify-content: center;
}
.f-j-end{
    display: flex;
    justify-content: flex-end;
}
.f-j-between{
    display: flex;
    justify-content: space-between;
}
.f-j-around{
    display: flex;
    justify-content: space-around;
}
.f-j-evenly{
    display: flex;
    justify-content: space-evenly;
}
/********************* flex end **********************/
/********************* Gap Start **********************/

.m-auto{
    margin: auto;
}
.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-right: auto;
}
.mt-auto{
    margin-top: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.mt-05{
    margin-top: 5px;
}
.mt-1{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-2{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-3{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-4{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-5{
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}
.mt-6{
    margin-top: 60px;
}
.mt-65{
    margin-top: 65px;
}
.mt-7{
    margin-top: 70px;
}
.mt-75{
    margin-top: 75px;
}
.mt-8{
    margin-top: 80px;
}
.mt-85{
    margin-top: 85px;
}
.mt-9{
    margin-top: 90px;
}
.mt-95{
    margin-top: 95px;
}
.mt-100{
    margin-top: 100px;
}
.mb-05{
    margin-bottom: 5px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-5{
    margin-bottom: 50px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-6{
    margin-bottom: 60px;
}
.mb-65{
    margin-bottom: 65px;
}
.mb-7{
    margin-bottom: 70px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-8{
    margin-bottom: 80px;
}
.mb-85{
    margin-bottom: 85px;
}
.mb-9{
    margin-bottom: 90px;
}
.mb-95{
    margin-bottom: 95px;
}
.mb-100{
    margin-bottom: 100px;
}
.mr-05{
    margin-right: 5px;
}
.mr-1{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-2{
    margin-right: 20px;
}
.mr-25{
    margin-right: 25px;
}
.mr-3{
    margin-right: 30px;
}
.mr-35{
    margin-right: 35px;
}
.mr-4{
    margin-right: 40px;
}
.mr-45{
    margin-right: 45px;
}
.mr-5{
    margin-right: 50px;
}
.mr-55{
    margin-right: 55px;
}
.mr-6{
    margin-right: 60px;
}
.mr-65{
    margin-right: 65px;
}
.mr-7{
    margin-right: 70px;
}
.mr-75{
    margin-right: 75px;
}
.mr-8{
    margin-right: 80px;
}
.mr-85{
    margin-right: 85px;
}
.mr-9{
    margin-right: 90px;
}
.mr-95{
    margin-right: 95px;
}
.mr-100{
    margin-right: 100px;
}
.ml-05{
    margin-left: 5px;
}
.ml-1{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-2{
    margin-left: 20px;
}
.ml-25{
    margin-left: 25px;
}
.ml-3{
    margin-left: 30px;
}
.ml-35{
    margin-left: 35px;
}
.ml-4{
    margin-left: 40px;
}
.ml-45{
    margin-left: 45px;
}
.ml-5{
    margin-left: 50px;
}
.ml-55{
    margin-left: 55px;
}
.ml-6{
    margin-left: 60px;
}
.ml-65{
    margin-left: 65px;
}
.ml-7{
    margin-left: 70px;
}
.ml-75{
    margin-left: 75px;
}
.ml-8{
    margin-left: 80px;
}
.ml-85{
    margin-left: 85px;
}
.ml-9{
    margin-left: 90px;
}
.ml-95{
    margin-left: 95px;
}
.ml-100{
    margin-left: 100px;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}
.ml-0{
    margin-left: 0 !important;
}
/********************* margin end **********************/
/********************* padding start **********************/
.pt-1{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-2{
    padding-top: 20px;
}
.pt-25{
    padding-top: 25px;
}
.pt-3{
    padding-top: 30px;
}
.pt-35{
    padding-top: 35px;
}
.pt-4{
    padding-top: 40px;
}
.pt-45{
    padding-top: 45px;
}
.pt-5{
    padding-top: 50px;
}
.pt-55{
    padding-top: 55px;
}
.pt-6{
    padding-top: 60px;
}
.pt-65{
    padding-top: 65px;
}
.pt-7{
    padding-top: 70px;
}
.pt-75{
    padding-top: 75px;
}
.pt-8{
    padding-top: 80px;
}
.pt-85{
    padding-top: 85px;
}
.pt-9{
    padding-top: 90px;
}
.pt-95{
    padding-top: 95px;
}
.pt-100{
    padding-top: 100px;
}
.pb-1{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-2{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-3{
    padding-bottom: 30px;
}
.pb-35{
    padding-bottom: 35px;
}
.pb-4{
    padding-bottom: 40px;
}
.pb-45{
    padding-bottom: 45px;
}
.pb-5{
    padding-bottom: 50px;
}
.pb-55{
    padding-bottom: 55px;
}
.pb-6{
    padding-bottom: 60px;
}
.pb-65{
    padding-bottom: 65px;
}
.pb-7{
    padding-bottom: 70px;
}
.pb-75{
    padding-bottom: 75px;
}
.pb-8{
    padding-bottom: 80px;
}
.pb-85{
    padding-bottom: 85px;
}
.pb-9{
    padding-bottom: 90px;
}
.pb-95{
    padding-bottom: 95px;
}
.pb-100{
    padding-bottom: 100px;
}
.pr-1{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.pr-2{
    padding-right: 20px;
}
.pr-25{
    padding-right: 25px;
}
.pr-3{
    padding-right: 30px;
}
.pr-35{
    padding-right: 35px;
}
.pr-4{
    padding-right: 40px;
}
.pr-45{
    padding-right: 45px;
}
.pr-5{
    padding-right: 50px;
}
.pr-55{
    padding-right: 55px;
}
.pr-6{
    padding-right: 60px;
}
.pr-65{
    padding-right: 65px;
}
.pr-7{
    padding-right: 70px;
}
.pr-75{
    padding-right: 75px;
}
.pr-8{
    padding-right: 80px;
}
.pr-85{
    padding-right: 85px;
}
.pr-9{
    padding-right: 90px;
}
.pr-95{
    padding-right: 95px;
}
.pr-100{
    padding-right: 100px;
}
.pl-1{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pl-2{
    padding-left: 20px;
}
.pl-25{
    padding-left: 25px;
}
.pl-3{
    padding-left: 30px;
}
.pl-35{
    padding-left: 35px;
}
.pl-4{
    padding-left: 40px;
}
.pl-45{
    padding-left: 45px;
}
.pl-5{
    padding-left: 50px;
}
.pl-55{
    padding-left: 55px;
}
.pl-6{
    padding-left: 60px;
}
.pl-65{
    padding-left: 65px;
}
.pl-7{
    padding-left: 70px;
}
.pl-75{
    padding-left: 75px;
}
.pl-8{
    padding-left: 80px;
}
.pl-85{
    padding-left: 85px;
}
.pl-9{
    padding-left: 90px;
}
.pl-95{
    padding-left: 95px;
}
.pl-100{
    padding-left: 100px;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pt-0{
    padding-top: 0 !important;
}
.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-left: 0 !important;
}
/********************* Padding End **********************/
