.mblLst{
    position: fixed;
    height: 100vh;
    width: 320px;
    background-color: #fff;
    z-index: 9;
    top: 0;
    left: -100%;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px 15px;
    color: var(--main);
    display: none;
    &.active{
        left: 0%;
        box-shadow: 0 0 0 5000px rgba(0,0,0,0.34);
        transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    @media (max-width: 767px) {
        & {
            display: block;
        }
    }
    @media (max-width: 539px) {
        & {
            width: 280px;
        }
    }
    .mblLst__hdr{
        margin-bottom: 30px;
        .mblLst__logo{
            width: 45px;
            height: auto;
            object-fit: contain;
        }
        .mblLst__close{
            width: 32px;
            height: 32px;
            font-size: 14px;
            border: 1px solid var(--main);
            cursor: pointer;
        }
    }
    .mblLstnav{
        li{
            margin-bottom: 15px;
            a{
                font-size: 16px;
                color: #000;
                &:hover,
                &.active{
                    color: var(--main);
                }
            }
        }
    }
    .mblLstFtr{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--main);
        z-index: 99;
        padding: 20px 15px;
        width: 100%;
        .mblLstFtr__link{
            display: flex;
            align-items: center;
            column-gap: 10px;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 15px;
            i{
                color: #fff;
            }
        }
        .mblLstFtrList{
            column-gap: 15px;
            li{
                a{
                    color: #fff;
                }
            }
        }
    }
}
.header{
    padding: 10px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    &.sticky{
        background-color: var(--main);
        .headertop{
            .htpList{
                .htpList__item{
                    .htpList__link{
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .headerBtmWrpr{
            .headerBtmList{
                .headerBtmList__link{
                    &.active,
                    &:hover{
                        color: #fff;
                        text-decoration: underline;
                        text-underline-offset: 5px;
                    }
                }
            }
            .hdrformBtn{
                border-color: #fff;
            }
        }
    }
    @media (max-width: 767px) {
        & {
            padding: 8px 0;
        }
    }
    .headertop{
        margin-bottom: 10px;
        @media (max-width: 767px) {
            margin-bottom: 10px;
            display: none;
        }
        .htpList{
            display: flex;
            align-items: center;
            column-gap: 23px;
            .htpList__item{
                @media (max-width: 767px) {
                    &:nth-last-child(1) {
                        display: none;
                    }
                }
            }
            @media (max-width: 1023px) {
                & {
                    column-gap: 7px;
                }
            }
            .htpList__link{
                display: flex;
                align-items: center;
                font-size: 14px;
                column-gap: 7px;
                color: #fff;
                i{
                    color: #fff;
                }
                &:hover{
                    color: #fff;
                }
                @media (max-width: 1399px) {
                    & {
                        font-size: 13px;
                    }
                }
                @media (max-width: 1023px) {
                    & {
                        font-size: 11px;
                    }
                }
            }
        }
        // htpList end
        .htbox2{
            column-gap: 20px;
            @media (max-width: 1023px) {
                & {
                    column-gap: 10px;
                }
            }
            .htbox2Btn{
                background: var(--main);
                padding: 4px 12px;
                border: none;
                color: #fff;
                font-weight: 700;
                font-size: 13px;
                @media (max-width: 1399px) {
                    & {
                        font-size: 12px;
                    }
                }
                @media (max-width: 1023px) {
                    & {
                        font-size: 11px;
                        padding: 4px 7px;
                    }
                }
            }
            .smlist{
                column-gap: 20px;
                @media (max-width: 1023px) {
                    & {
                        column-gap: 8px;
                    }
                }
                li{
                    a{
                        color: #fff;
                        font-size: 16px;
                        &:hover{
                            color: #fff;
                        }
                        @media (max-width: 1023px) {
                            & {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        // htbox2 end
        .langbox{
            display: flex;
            align-items: center;
            .langboxmini{
                display: flex;
                align-items: center;
                column-gap: 10px;
                cursor: pointer;
                display: none;
                font-weight: normal;
                min-width: max-content;
                padding: 3px 12px;
                color: #fff;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff;
                @media (max-width: 1023px) {
                    & {
                        padding: 3px 7px;
                        column-gap: 5px;
                    }
                }
                @media (max-width: 767px) {
                    & {
                        padding: 3px 6px;
                    }
                }
                @media (max-width: 539px) {
                    & {
                        column-gap: 5px;
                    }
                }
                i{
                    font-size: 16px;
                    @media (max-width: 1799px) {
                        & {
                            font-size: 16px;
                        }
                    }
                    @media (max-width: 1399px) {
                        & {
                            font-size: 14px;
                        }
                    }
                    @media (max-width: 767px) {
                        & {
                            font-size: 14px;
                        }
                    }
                }
                .langboxmini__p{
                    font-size: 16px;
                    font-weight: 500;
                    @media (max-width: 1799px) {
                        & {
                            font-size: 16px;
                        }
                    }
                    @media (max-width: 1399px) {
                        & {
                            font-size: 14px;
                        }
                    }
                    @media (max-width: 767px) {
                        & {
                            font-size: 14px;
                        }
                    }
                }
            }
            // langbox end
            .langboxmini.en{
                display: none;
            }
            .langboxmini.active{
                display: flex;
            }
        }
    }
    
    .headerBtmWrpr{
        .hdrbtn{
            display: none;
            cursor: pointer;
            @media (max-width: 767px) {
                & {
                    display: block;
                    color: #fff;
                    font-size: 22px;
                }
            }
        }
        .headerBtmbox1{
            column-gap: 80px;
            @media (max-width: 1399px) {
                & {
                    column-gap: 50px;
                }
            }
            @media (max-width: 1023px) {
                & {
                    column-gap: 20px;
                }
            }
        }
        .logo{
            width: 55px;
            height: auto;
            object-fit: contain;
            // @media (max-width: 1799px) {
            //     & {
            //         width: 100px;
            //     }
            // }
            // @media (max-width: 1399px) {
            //     & {
            //         width: 80px;
            //     }
            // }
            // @media (max-width: 1023px) {
            //     & {
            //         width: 65px;
            //     }
            // }
            @media (max-width: 767px) {
                & {
                    width: 50px;
                }
            }
        }
        .headerBtmList{
            column-gap: 35px;
            @media (max-width: 1023px) {
                & {
                    column-gap: 20px;
                }
            }
            @media (max-width: 767px) {
                & {
                    display: none;
                }
            }
            
            .headerBtmList__link{
                color: #fff;
                font-weight: 500;
                font-size: 17px;
                &.active,
                &:hover{
                    color: var(--main);
                }
                @media (max-width: 1399px) {
                    & {
                        font-size: 15px;
                    }
                }
                @media (max-width: 1023px) {
                    & {
                        font-size: 13px;
                    }
                }
            }
        }
        .hdrformBtn{
            padding: 7px 15px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            background: var(--main);
            border: 1px solid var(--main);
            cursor: pointer;
            transition: all .4s ease-in-out;
            &:hover{
                background-color: #fff;
                color: var(--main);
            }
            @media (max-width: 1399px) {
                & {
                    font-size: 13px;
                }
            }
            @media (max-width: 1023px) {
                & {
                    padding: 6px 10px;
                    font-size: 12px;
                }
            }
        }
    }
    // headerBtmWrpr end
}

#hdrform{
    .modal-title{
        font-size: 20px;
        @media (max-width: 1799px) {
            & {
                font-size: 19px;
            }
        }
        span {
            font-size: 23px;
            font-weight: 700;
            color: var(--main);
            @media (max-width: 1799px) {
                & {
                    font-size: 21px;
                }
            }
        }
    }
    .closbtn{
        cursor: pointer;
        font-size: 20px;
        transition: all .3s ease-in-out;
        color: var(--main);
    }
    .modal-content {
        background: #fff !important;
        border-radius: 0;
    }

    .modal-body{
        .form-group{
            margin-bottom: 15px;
        }
        .form-control {
            transition: all .3s ease-in-out;
            background: none;
            border: none;
            border-bottom: 2px solid var(--main);
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border-radius: 0;
            color: var(--main);
            &:focus{
                background-color: #fff;
                color: var(--main);
            }
            &::placeholder{
                color: var(--main);
            }
            &:focus::placeholder{
                color: var(--main);
            }
        }
        button {
            padding: 11px 30px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 14px;
            color: #fff;
            transition: all .4s ease-in-out;
            background: var(--main);
            border: none;
            column-gap: 7px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 20px;
            &:hover{
                background-color: #000;
            }
        }
    }
}
.hero{
    height: 90vh;
    background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #000;
        opacity: 0.6;
    }
}
.values{
    padding: 60px 0;
    @media (max-width:539px) {
        &{
            padding: 30px 0;
        }
    }
    .row{
        row-gap: 40px;
    }
    .valuesList{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: fit-content;
        margin: 0 auto 50px auto;
        @media (max-width:1599px) {
            &{
                margin: 0 auto 35px auto;
            }
        }
        @media (max-width:767px) {
            &{
                margin: 0 auto 25px auto;
            }
        }
        @media (max-width:539px) {
            &{
                width: 100%;
                overflow-x: scroll;
                justify-content: flex-start;
            }
            &::-webkit-scrollbar{
                display: none;
            }

        }
        .valuesList__btn{
            padding: 20px 30px;
            background-color: #e9f3ff;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active{
                background-color: var(--main);
                color: #fff;
            }
            @media (max-width:1599px) {
                &{
                    padding: 17px 25px;
                    font-size: 15px;
                    width: 230px;
                }
            }
            @media (max-width:1399px) {
                &{
                    padding: 15px 20px;
                    font-size: 14px;
                    width: 200px;
                }
            }
            @media (max-width:767px) {
                &{
                    padding: 12px 5px;
                    font-size: 12px;
                    width: 150px;
                }
            }
            @media (max-width:539px) {
                &{
                    width: 120px;
                    font-size: 11px;
                }
            }
        }
    }
    .hmabtBox {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.05);
        position: relative;
        z-index: 0;
        @media (max-width:539px) {
            &{
                padding: 13px;
            }
        }
        .hmabtBox-ab {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: rgba(0,0,0,0.5);
            z-index: 3;
            @media (max-width:1399px) {
                &{
                    width: 90px;
                    height: 90px;
                }
            }
            .hmabtBox-ab__img {
                width: 60%;
                height: 60%;
                object-fit: contain;
            }
        }
        .hmabtBox-imgholder {
            height: 520px;
            position: relative;
            width: 100%;
            z-index: 0;
            @media (max-width:1599px) {
                &{
                    height: 485px;
                }
            }
            @media (max-width:1399px) {
                &{
                    height: 410px;
                }
            }
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background-color: #fff;
                position: absolute;
                top: -1px;
                right: -1px;
                z-index: 2;
            }
            &::after {
                content: "";
                width: 25px;
                height: 25px;
                background-color: #fff;
                position: absolute;
                bottom: -1px;
                left: -1px;
                z-index: 2;
            }
            .hmabtBox-imgholder-ab {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.5);
                z-index: 1;
            }
            .hmabtBox__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .hmabtBoxcol1 {
                width: 250px;
                height: 160px;
                border: 5px solid #fff;
                position: absolute;
                top: 25px;
                right: 25px;
                z-index: 3;
                overflow: hidden;
                z-index: 99;
                @media (max-width:1399px) {
                    &{
                        width: 210px;
                        height: 130px;
                    }
                }
                .hmabtBoxcol1__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.4s ease-in-out;
                    &:hover{
                        transform: scale(1.3);
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
            .hmabtBoxcol2 {
                top: auto;
                right: auto;
                bottom: 25px;
                left: 25px;
            }
        }
    }
    .hmabtBo2{
        padding-left: 30px;
        @media (max-width:1023px) {
            &{
                padding-left: 0px;
            }
        }
        .hmabtBo2__h{
            font-size: 24px;
            color: var(--main);
            font-weight: 600;
            margin-bottom: 20px;
            text-transform: uppercase;
            @media (max-width:1599px) {
                &{
                    font-size: 22px;
                }
            }
            @media (max-width:1399px) {
                &{
                    font-size: 20px;
                }
            }
            @media (max-width:1199px) {
                &{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }
            @media (max-width:539px) {
                &{
                    font-size: 16px;
                }
            }
        }
        .hmabtBo2__para{
            font-size: 18px;
            line-height: 2;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 14;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @media (max-width:1599px) {
                &{
                    font-size: 17px;
                }
            }
            @media (max-width:1399px) {
                &{
                    font-size: 15px;
                }
            }
        }
    }
}

.values--services{
    padding: 30px 0;
    .services__h{
        text-align: center;
        color: var(--main);
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 50px;
        @media (max-width:1599px) {
            &{
                font-size: 26px;
                margin-bottom: 40px;
            }
        }
        @media (max-width:1399px) {
            &{
                font-size: 21px;
            }
        }
        @media (max-width:539px) {
            &{
                font-size: 19px;
            }
        }
    }
    .row{
        align-items: center;
    }
    .hmabtBo2__para{
        margin-bottom: 15px;
    }
    .hmabtBo2__link{
        width: fit-content;
        padding: 15px 40px;
        margin-top: 60px;
        background-color: #e9f3ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--main);
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: var(--main);
            color: #fff;
            transition: all 0.3s ease-in-out;
        }
        @media (max-width:1599px) {
            &{
                margin-top: 40px;
            }
        }
        @media (max-width:767px) {
            &{
                margin-top: 20px;
                font-size: 13px;
                padding: 12px 20px;
            }
        }
    }
}

.acridtn{
    padding: 40px 0;
    @media (max-width:1599px) {
        &{
            padding: 25px 0;
        }
    }
    .acridtn__hdng{
        text-align: center;
        color: var(--main);
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 30px;
        @media (max-width:1599px) {
            &{
                font-size: 26px;
                margin-bottom: 20px;
            }
        }
        @media (max-width:1399px) {
            &{
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        @media (max-width:767px) {
            &{
                font-size: 19px;
                margin-bottom: 10px;
            }
        }
        @media (max-width:539px) {
            &{
                font-size: 17px;
                line-height: 2;
                margin-bottom: 5px;
            }
        }
    }
    .acridtnSl{
        padding: 20px 20px;
        .acridtnSlArr{
            width: 40px;
            height: 40px;
            font-size: 14px;
            border: 2px solid var(--main);
            color: var(--main);
            transition: all 0.3s ease-in-out;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);
            &:hover{
                background-color: var(--main);
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
            @media (max-width:1399px) {
                &{
                    width: 34px;
                    height: 34px;
                    font-size: 12px;
                    border: 1px solid var(--main);
                }
            }
        }
    }
    .acridtnSlCard{
        width: 350px;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #fff;
        z-index: 5;
        margin-inline: auto;
        @media (max-width:1399px) {
            &{
                width: 300px;
                height: 180px;
            }
        }
        @media (max-width:539px) {
            &{
                width: 100%;
            }
        }
        .acridtnSlCard__img{
            width: 190px;
            height: 190px;
            object-fit: contain;
            position: relative;
            z-index: 5;
            @media (max-width:1599px) {
                &{
                    width: 170px;
                    height: 170px;
                }
            }
            @media (max-width:1399px) {
                &{
                    width: 120px;
                    height: 120px;
                }
            }
            
        }
        .border {
            height: 220px;
            position: absolute;
            opacity: 0.45;
            @media (max-width:1399px) {
                &{
                    height: 180px;
                }
            }
        }
    }
}
// acridtn end
.testi{
    padding: 30px 0;
    @media (max-width:539px) {
        &{
            padding: 20px 0;
        }
    }
    .testi__h{
        text-align: center;
        color: var(--main);
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 30px;
        @media (max-width:1599px) {
            &{
                font-size: 26px;
                margin-bottom: 20px;
            }
        }
        @media (max-width:1399px) {
            &{
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        @media (max-width:767px) {
            &{
                font-size: 19px;
                margin-bottom: 10px;
            }
        }
    }
    .testiSl{
        padding: 20px 20px 60px 20px;
        @media (max-width:539px) {
            &{
                padding: 15px 0px 60px 0;
            }
        }
        .testiSlArr{
            width: 40px;
            height: 40px;
            font-size: 14px;
            border: 2px solid var(--main);
            color: var(--main);
            transition: all 0.3s ease-in-out;
            margin: 0;
            top: calc(50% - 20px);
            transform: translateY(-50%);
            &:hover{
                background-color: var(--main);
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
            @media (max-width:1399px) {
                &{
                    width: 34px;
                    height: 34px;
                    font-size: 12px;
                    border: 1px solid var(--main);
                }
            }
        }
        .testiSlArr1{
            left: 0;
        }
        .testiSlArr2{
            right: 0;
        }
        .testipagination .swiper-pagination-bullet{
            width: 14px;
            height: 14px;
            background-color: #e9f3ff;
            opacity: 1;
        }
        .testipagination .swiper-pagination-bullet-active{
            background-color: var(--main);
        }
        .testiSlCrd{
            padding: 30px 30px;
            box-shadow: 0 3px 15px 0 rgba(0,0,0,0.05);
            @media (max-width:539px) {
                &{
                    padding: 15px 15px;
                }
            }
            .testiSlCrdRow{
                display: flex;
                align-items: center;
                column-gap: 20px;
                margin-bottom: 20px;
                .testiSlCrdMini{
                    width: 100px;
                    height: 100px;
                    box-shadow: 0 3px 17px 0 rgba(0,0,0,0.04);
                    border-radius: 50%;
                    background-color: #fff;
                    @media (max-width:539px) {
                        &{
                            width: 70px;
                            height: 70px;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .testiSlCrdRowContnt{
                    width: calc(100% - 120px);
                    @media (max-width:539px) {
                        &{
                            width: calc(100% - 80px);
                        }
                    }
                    .testiSlCrdRowContnt__h2{
                        font-size: 24px;
                        margin-bottom: 7px;
                        @media (max-width:1399px) {
                            &{
                                font-size: 18px;
                            }
                        }
                        @media (max-width:539px) {
                            &{
                                font-size: 16px;
                            }
                        }
                    }
                    .testiSlCrdRowContnt__p{
                        font-size: 16px;
                        color: #999;
                        font-weight: 500;
                        @media (max-width:1399px) {
                            &{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .testiSlCrd__p{
                font-size: 16px;
                line-height: 2;
                font-weight: 400;
                color: #555;
                @media (max-width:539px) {
                    &{
                        font-size: 14px;
                    }
                }
            }
        }
    }

}
// testi end
.hcont{
    padding: 30px 0;
    @media (max-width:539px) {
        &{
            padding: 20px 0;
        }
    }
    .row{
        row-gap: 25px;
        @media (max-width:539px) {
            &{
                row-gap: 15px;
            }
        }
    }
    .hcont__h{
        text-align: center;
        color: var(--main);
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 50px;
        @media (max-width:1599px) {
            &{
                font-size: 26px;
                margin-bottom: 40px;
            }
        }
        @media (max-width:1399px) {
            &{
                font-size: 22px;
                margin-bottom: 40px;
            }
        }
        @media (max-width:767px) {
            &{
                font-size: 19px;
                margin-bottom: 30px;
            }
        }
    }
    .hcontBox{
        width: 95%;
        box-shadow: 0 3px 15px 0 rgba(0,0,0,0.05);
        padding: 30px 30px;
        @media (max-width:539px) {
            &{
                padding: 18px 18px;
            }
        }
        @media (max-width:1023px) {
            &{
                width: 100%;
            }
        }
        .hcontBox__input{
            height: 48px;
            border-radius: 0;
            font-size: 15px;
            border: 1px solid var(--main);
            padding: 5px 18px;
            margin-bottom: 15px;
            color: var(--main);
            &::placeholder{
                color: var(--main);
            }
            @media (max-width:539px) {
                &{
                    height: 44px;
                    font-size: 14px;
                    padding: 5px 15px;
                }
            }
        }
        .hcontBox__textarea{
            padding: 10px 18px;
            height: 180px;
            margin-bottom: 30px;
            @media (max-width:539px) {
                &{
                    height: 150px;
                }
            }
        }
        .hcontBox__btn{
            position: relative;
            z-index: 0;
            background-color: #e9f3ff;
            color: var(--main);
            font-size: 16px;
            text-transform: uppercase;
            padding: 15px 40px;
            width: 200px;
            font-weight: 500;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            @media (max-width:539px) {
                &{
                    font-size: 14px;
                    padding: 13px 30px;
                    width: 150px;
                }
            }
            &:hover{
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
            &::before{
                content: '';
                position: absolute;
                height: 50%;
                width: 0;
                left: 0;
                top: 0;
                z-index: -1;
                transition: 0.3s cubic-bezier(0.785,0.135,0.15,0.86);
                background-color: var(--main);
            }
            &::after{
                content: '';
                position: absolute;
                height: 50%;
                width: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                transition: 0.3s cubic-bezier(0.785,0.135,0.15,0.86);
                background-color: var(--main);
            }
            &:hover:after,
            &:hover:before{
                width: 100%;
                transition: 0.3s cubic-bezier(0.785,0.135,0.15,0.86);
            }
        }
    }
    .hcontBox2{
        padding: 30px 30px;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.05);
        @media (max-width:1399px) {
            &{
                padding: 20px 20px;
            }
        }
        .hcontList{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            .hcontList__item{
                width: 50%;
                .hcontList__btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 12px 20px;
                    font-size: 16px;
                    font-weight: 500;
                    &.active{
                        color: #fff;
                        background-color: var(--main);
                    }
                    @media (max-width:1399px) {
                        &{
                            padding: 10px 20px;
                            font-size: 14px;
                        }
                    }
                }
            }
            
        }
        .hcontRow{
            column-gap: 5px;
            display: flex;
            margin-bottom: 20px;
            i{
                font-size: 18px;
                color: var(--main);
                width: 22px;
                display: block;
                transform: translateY(5px);
            }
            .hcontRow__text{
                width: calc(100% - 35px);
                font-size: 16px;
                font-weight: 500;
                @media (max-width:1399px) {
                    &{
                        font-size: 14px;
                    }
                }
            }
            a:hover{
                color: var(--main);
            }
        }
        .hcontRow2{
            margin-bottom: 5px;
            i{
                transform: translateY(2px);
            }
        }
        .hcontBox2__h{
            font-size: 18px;
            font-weight: 600;
            color: var(--main);
            margin-bottom: 10px;
            @media (max-width:1399px) {
                &{
                    font-size: 16px;
                }
            }
        }
    }
}
.mapsec{
    .row{
        row-gap: 15px;
    }
    .map{
        height: 320px;
        width: 100%;
    }
}