
.rtl .hero .heroBox__img{
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.rtl .clients .clientsSl .clientsSlArr2,
.rtl .recentProjects .recntslArr1{
    left: auto;
    right: 0;
}
.rtl .clients .clientsSl .clientsSlArr1,
.rtl .recentProjects .recntslArr2{
    left: 0;
    right: auto;
}
.rtl .contact .contactBox .contactBoxList__item i{
    transform: scaleX(-1) translateY(10px) translateX(-3px);
}
.rtl .recentProjects .recntslCrd .recntslCrdBody .icon{
    right: auto;
    left: 20px;
}
.rtl .banner-sub-page .flex-i i,
.rtl .our-services .sercrd .sercrdBody .sercrdBody__btn i,
.rtl .recentProjects .recentProjects__link i,
.rtl .recentProjects .recntslCrd .recntslCrdBody .icon i{
    transform: scaleX(-1);
}
.rtl .mblLst {
    left: auto;
    right: -100%;
}
.rtl .mblLst.active {
    left: auto;
    right: 0;
}